<div class="couplet-stripe" [ngClass]="{'active-couplet-stripe': focus && showText===false}">

  <input #coupletInput1 
      *ngIf="showText===false" 
      type="text" 
      maxlength="120" 
      class="form-control input"
      autofocus 
      placeholder="Enter your first line here..."
      [(ngModel)]="coupletLines.line1" 
      (keyup)="inputUpdate1(coupletInput1.value)" 
      (keyup.enter)="focusSecondInput()"
      (focus)="onFocus()" >

  <input #coupletInput2 
      *ngIf="showText===false"
      type="text" 
      maxlength="120" 
      class="form-control input"
      placeholder="Enter a rhyming line here..."
      [(ngModel)]="coupletLines.line2" 
      (focus)="onFocus()" 
      (keyup.enter)="focusNextCouplet()" >

  <rhyme-suggestion 
      *ngIf="focus && searchText && showText===false" 
      [currentWord]="currentWord" 
      [searchText]="searchText" 
      [isLoading]="isLoading" 
      [rhymeHints]="rhymeHints"
      (onRhymeSelected)="onRhymeSelected($event)">
  </rhyme-suggestion>

  <div id="printed-poem-container">
    <p class="printed" *ngIf="showText">
      {{coupletLines.line1}}
    </p>
    <p class="printed" *ngIf="showText">
      {{coupletLines.line2}}
    </p>
  </div>

</div>