.input {
    border-radius: 5px;
    background: #62b989;
    list-style-type: none;
    text-align: left;
    font-size: 1em;
    color: #eee;
    border:none;
    width:100%;
    max-width:600px;
    padding: 10px 0 10px 10px;
    display:block;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:5px;
}

.input:focus {
    outline: none !important;
    background: #719ECE;
    color: #eee;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #a3e0be;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a3e0be;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a3e0be;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #a3e0be;
}

.printed {
    font-size: 1.5em;
    padding: 10px;
    color: #434d55;
    margin:0;
}

.couplet-stripe {
    padding:5px 20px 5px 10px;
}

.active-couplet-stripe {
    background-color: #434d55;
    box-shadow: 0 0 7px rgb(76, 76, 76);
}

#rhyme-indicator-icon {
    position:absolute;
    right:25px;
    color:#eee;
    margin-top:-94px;
    opacity: 0.5
}

@media (max-width: 600px) {

    .couplet-stripe {
        padding:5px 0 5px 0;
        border-radius:0;
    }

    .input {
        display:block;
        width:95%;
        margin-left:auto;
        margin-right:auto;
        font-size: 1em;
    }

    .input:focus {
        outline: none !important;
        margin-left:auto;
        margin-right:auto;
        background: #719ECE;
        color: #eee;
    }

}