#rhyme-panel {
    background: #323a40;
    color: #f9f6ee;
    width:100%;
    overflow-y:hidden;
    box-shadow: 0 0 7px rgb(76, 76, 76);
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
        -webkit-appearance: none;
        height:8px;
        background-color: rgba(0,0,0,.5);
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #eee;
}

#rhyme-list {
    font-weight:bold;
    position:relative;
    text-align: left;
    white-space:nowrap;
    padding: 0;
}

#rhyme-list li {
    list-style-type:none;
    display:inline-block;
    font-weight: normal;
    padding: 5px;
    margin: 0 2px 1px 2px;
    text-overflow: ellipsis;
    cursor: pointer;
}

#rhyme-panel p {
    float:left;
    margin-left:10px;
    margin-top:21px;
    margin-bottom:20px;
}

#rhyme-list li:nth-child(odd)		{ background-color:#657380; }
#rhyme-list li:nth-child(even)		{ background-color:#798b99; }

#spinner-container {
    text-align:center;
    float:left;
    position:relative;
    padding:13px 0px 10px 10px;


}

#spinner-container i {
    margin-top:0;
    font-size:2em;
    position: relative;
}
