<div class="rhyme-panel" *ngIf="!searchFailed; else errorContent">
  
  <!-- Loading spinner -->
  <span #loadingContent *ngIf="isLoading; else rhymeContent">
    <span id="spinner-container">
      <i class="fa fa-spin fa-cog fa-5x"></i>
    </span>
    <p id="loading-rhymes">
      Loading rhymes for "{{searchText}}"
    </p>
  </span>

  <!-- Rhyme suggestion list -->
  <ng-template #rhymeContent>
    <p id="rhymes-found" *ngIf="rhymeHints && rhymeHints.length > 0">
      Rhymes with "{{currentWord}}":
    </p>
    <p id="no-rhymes-found" *ngIf="rhymeHints && rhymeHints.length === 0">
      <em>No rhymes found for "{{currentWord}}"</em>
    </p>
    <ul id="rhyme-list">
      <li (click)="onHintSelected(hint)" *ngFor="let hint of rhymeHints">{{hint}}</li>
    </ul>
  </ng-template>

</div>

<ng-template #errorContent>
  <div class="rhyme-panel">
    <p id="loading-rhymes" *ngIf="searchFailed">
      <em>Currently unable to connect to rhyme server.</em>
    </p>
  </div>
</ng-template>

<!--Sweet alerts using ngsweetalert2 by toverux: https://github.com/toverux/ngsweetalert2 -->
<swal #confirmAlert 
    title="Add {{selectedWord}}?"
    text='This will add "{{selectedWord}}" to your second line.'
    [options]="{ confirmButtonText: 'Yes', showCancelButton: true, cancelButtonText: 'No' }"
    type="question">
</swal>