h1,h2 {
    padding-left:10px;
    padding-right:10px;
}

button {
    padding:10px;
    background-color:#719ECE;
    border:none;
    color:white;
    font-size:1em;
    cursor:pointer;
    transition:200ms;
}

button:hover{
    background-color:#3A5D81;
}


#button-container {
    margin-top:20px;
    margin-left:15px;
    margin-bottom:500px;
}

.stanza {
    width:100%;
}

@media (max-width: 768px) {

    h1 {
        font-size:1.2em;
    }

    h2 {
        font-size:1em;
    }

    #writing-space {
        padding-right: 0;
    }

    .stanza {
        padding-left: 0;
    }

    #button-container {
        margin-top:10px;
    }

}