#rhyme-panel {
    position:fixed;
    right:0;
    top:0;
    width:300px;
    background: #434d55;
    color: #f9f6ee;
    height: 100%;
    padding-left:20px;
    padding-right:20px;
    overflow-y:scroll;
}
#rhyme-list {
    
}

button {

}